# FLIPKART CUSTOMER SENTIMENT PROJECT

**Presented by:**(Pauline Ndungu, Samuel Mbugua Igecha, Leonard Rotich, Samwel Muiru, Maureen Anduuru, Henry Wamunyu)

# Business Understanding / Overview 
Flipkart are an indian e-commerce company and like many others in the e-commerce industry its important to understand customer sentiments towards the products sold on their sites.

The aim of this project will be to generate a sentiment analysis model using Natural Language Processing procedures to precisely classify the sentiment (positive or negative) of product reviews on Flipkart.com based on the review text and summary.

# Objectives

1. Gain valuable insights into customer sentiment, public opinion, and brand perception, empowering flipkart to make informed decisions, enhance customer satisfaction, and improve overall reputation of the company.
2. Develop an NLP Application that will allow users to input new product reviews and deploy the sentiment analysis model in a production environment to classify the sentiment of reviews in real time.
3. Analyze customer sentiments and feedback regarding pricing on Flipkart. The objective could be to understand how customers perceive the value for money of different products, identify price-sensitive segments, and optimize pricing strategies to maximize sales and profitability.

# DataUnderstanding

- This Dataset contains information of Products Name, Price, Review, Rate, Summary for the Sentiment Analysis Purpose. 
- The dataset will be used for Sentiment Analysis. This dataset contains total 104 types of different products on flipkart.com.
- This dataset contains 189874 rows and 5 columns

# Data Preparation

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv('flipkart_product.csv', encoding='latin-1')
df.head()

,ProductName,Price,Rate,Review,Summary
0,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",5,Super!,Great cooler.. excellent air flow and for this...
1,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",5,Awesome,Best budget 2 fit cooler. Nice cooling
2,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",3,Fair,The quality is good but the power of air is de...
3,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",1,Useless product,Very bad product it's a only a fan
4,Candes 12 L Room/Personal Air Cooler?ÿ?ÿ(White...,"??3,999",3,Fair,Ok ok product

In [10]:
# Function to explore our dataset
def explore_data(df):
 '''
 Print some basic statistics and information about the DataFrame
 '''
 print(f"Number of rows: {df.shape[0]}")
 print(f"Number of columns: {df.shape[1]}")
 print("--------------------------------\n")
 print("info:\n", df.info())
 print("--------------------------------\n")


explore_data(df)


# function to identify missing and duplicate values
def clean_data(df):
    print("Missing values:\n", df.isnull().sum())
    print("------------------------------------------\n")
    print("Percentage of Missing values:\n", df.isnull().sum()/len(df)*100)
    print("------------------------------------------\n")
    print("No. of duplicated values:", df.duplicated().sum())
    print("------------------------------------------\n")
    print("duplicated values:\n",  df[df.duplicated()])
    print("------------------------------------------\n")
    print("Ratings Value counts:\n",  df.Rate.value_counts())
    print("------------------------------------------\n")
    

clean_data(df)

Number of rows: 189874
Number of columns: 5
--------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189874 entries, 0 to 189873
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   ProductName  189874 non-null  object
 1   Price        189873 non-null  object
 2   Rate         189873 non-null  object
 3   Review       189870 non-null  object
 4   Summary      189860 non-null  object
dtypes: object(5)
memory usage: 7.2+ MB
info:
 None
--------------------------------

Missing values:
 ProductName     0
Price           1
Rate            1
Review          4
Summary        14
dtype: int64
------------------------------------------

Percentage of Missing values
: ProductName    0.000000
Price          0.000527
Rate           0.000527
Review         0.002107
Summary        0.007373
dtype: float64
------------------------------------------

No. of duplicated values: 24861
------------------------------------------

duplicated values:
                                               ProductName     Price Rate  \
150     MAHARAJA WHITELINE 65 L Desert Air Cooler?ÿ?ÿ(...  ??7,999    4
154     MAHARAJA WHITELINE 65 L Desert Air Cooler?ÿ?ÿ(...  ??7,999    5
248     MAHARAJA WHITELINE 65 L Desert Air Cooler?ÿ?ÿ(...  ??7,999    5
288     MAHARAJA WHITELINE 65 L Desert Air Cooler?ÿ?ÿ(...  ??7,999    4
338     MAHARAJA WHITELINE 65 L Desert Air Cooler?ÿ?ÿ(...  ??7,999    5
...                                                   ...       ...  ...
189864  NIVEA Soft Light Moisturizer for Face, Hand & ...    â¹142    4
189868  NIVEA Soft Light Moisturizer for Face, Hand & ...    â¹142    5
189870  NIVEA Soft Light Moisturizer for Face, Hand & ...    â¹142    5
189871  NIVEA Soft Light Moisturizer for Face, Hand & ...    â¹142    5
189872  NIVEA Soft Light Moisturizer for Face, Hand & ...    â¹142    4

                       Review          Summary
150               Really Nice     Good product
154        Highly recommended          Awesome
248     Mind-blowing purchase  Awesome product
288                 Wonderful             good
338                 Fabulous!             Good
...                       ...              ...
189864            Pretty good        Good ð
189868               Terrific             Good
189870               Terrific             Good
189871              Just wow!            Super
189872        Worth the money             Good

[24861 rows x 5 columns]
------------------------------------------

Ratings Value counts:
 5                                                              108694
4                                                               39653
1                                                               19607
3                                                               15681
2                                                                6234
Nova Plus Amaze NI 10 1100 W Dry Iron?ÿ?ÿ(Grey & Turquoise)         1
Bajaj DX 2 L/W Dry Iron                                             1
s                                                                   1
Pigeon Favourite Electric Kettle?ÿ?ÿ(1.5 L, Silver, Black)          1
Name: Rate, dtype: int64
------------------------------------------

In [29]:
# drop null values
df = df.dropna()

In [31]:
df.isnull().sum()

ProductName    0
Price          0
Rate           0
Review         0
Summary        0
dtype: int64

In [33]:
# drop duplicates
df = df.drop_duplicates()

In [35]:
df.duplicated().sum()

0